.bold {
	font-weight: bold;
}

.form-section {
	width: 350px;
	margin: 0 auto;
}

.form {
	margin-top: 20vh;
	padding: 15px;
	border-radius: 5px;
	background-color: #2c2f34;
}

::placeholder {
	color: #dadada;
}

.form input {
	display: block;
	width: calc(100% - 10px);
	height: 32px;
	background-color: #191919;
	padding: 0 0 0 10px;
	margin: 0 auto 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	color: #dadada;
	transition: border 0.5s;
}

.form input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #3949ab;
}

.form input[type=submit] {
	position: relative;
	float: right;
	top: 30px;
	left: 15px;
	padding: 0;
	width: 30%;
	color: #dadada;
	background-color: #5c69ff;
}

#acc {
	position: relative;
	top: 40px;
	right: 15px;
	float: left;
	line-height: 15px;
	font-size: 0.8em;
}

#acc, #acc a:link, #acc a:hover, #acc a:visited, #acc a:active {
	color: #dadada;
}
