.content {
	display: block;
	width: 1000px;
	margin: 7vh auto;
}

.main-image {
	display: block;
	max-width: 45vw;
	max-height: 60vh;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.buttons {
	display: grid;
	height: 50px;
	width: 100%;
	margin: 50px 0 0;
}

.button {
	display: block;
	height: 100%;
	margin: auto;
	cursor: pointer;
}

.button img {
	max-height: 100%;
	height: auto;
	transition: filter 0.3s;
}

#commentForm {
	margin: 20px 0 20px 25px;
}

/* Local reset */
#commentForm input {
	border: none;
	background: none;
	outline: none;
}

#commentForm input[type=text] {
	border-bottom: 1px solid #383838;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #fff;
	width: 50%;
}

#commentForm input[type=submit] {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.3em;
	color: #a2a2a2;
}

#commentForm input[type=submit]:hover {
	color: #45679c;
}

.comments ul {
	width: 80%;
	margin-left: 50px;
}

.comments li {
	padding: 10px;
    margin: 10px;
	background-color: #555;
	border-radius: 5px;
	color: #fff;
}

#removeForm {
	visibility: hidden;
	position: absolute;
	width: 50vw;
	max-height: 20vh;
	top: 40vh;
	left: 25vw;
	background: #282a31;
	border-radius: 20px;
	border: 1px solid #406f77;
	text-align: center;
	color: white;
	opacity: 0;
	z-index: 2;
	transition: opacity 0.3s;
}

#removeForm * {
	margin: 20px 0;
}

#remove {
	background: white;
	color: red;
	border: 1px solid red;
	padding: 10px;
	border-radius: 10px;
	margin-top: 0;
	cursor: pointer;
	transition: background 0.5s, color 0.5s, border 0.5s;
	font-size: 1.5em;
}

#remove:hover {
	background: red;
	color: white;
	border: 1px solid white;
}

#curtain {
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0;
	transition: opacity 0.3s;
}

#tags {
	display: grid;
	position: absolute;
	top: 15vh;
	left: 10vw;
	align-items: center;
}

.tag {
	font-style: italic;
	font-size: 1.1em;
	font-weight: bold;
	color: #c5d6f1;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 500px;
	background: #3a3b3e;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
}

.tag:hover {
	background: #2e2f31;
	color: #fff;
}
